<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>tsp-device-platform</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/tsp-device-platform/info.tsp-device-platform.%d{yyyy-MM-ddHH}.%i.log</fileNamePattern>
            <!-- each file should be at most 30MB, keep 30 days worth of history -->
            <MaxHistory>5</MaxHistory>
            <MaxFileSize>50MB</MaxFileSize>
            <TotalSizeCap>250MB</TotalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="sdkFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/tsp-device-platform/sdk.tsp-device-platform.%d{yyyy-MM-ddHH}.%i.log</fileNamePattern>
            <!-- each file should be at most 30MB, keep 30 days worth of history -->
            <MaxHistory>5</MaxHistory>
            <MaxFileSize>50MB</MaxFileSize>
            <TotalSizeCap>250MB</TotalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="monitorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/tsp-device-platform/monitor.tsp-device-platform.%d{yyyy-MM-ddHH}.%i.log</fileNamePattern>
            <!-- each file should be at most 30MB, keep 30 days worth of history -->
            <MaxHistory>5</MaxHistory>
            <MaxFileSize>50MB</MaxFileSize>
            <TotalSizeCap>250MB</TotalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="callFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/tsp-device-platform/call.tsp-device-platform.%d{yyyy-MM-ddHH}.%i.log</fileNamePattern>
            <!-- each file should be at most 30MB, keep 30 days worth of history -->
            <MaxHistory>5</MaxHistory>
            <MaxFileSize>50MB</MaxFileSize>
            <TotalSizeCap>250MB</TotalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="openserviceFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/tsp-device-platform/openservice.tsp-device-platform.%d{yyyy-MM-ddHH}.%i.log</fileNamePattern>
            <!-- each file should be at most 30MB, keep 30 days worth of history -->
            <MaxHistory>5</MaxHistory>
            <MaxFileSize>50MB</MaxFileSize>
            <TotalSizeCap>250MB</TotalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="kafkaFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/tsp-device-platform/kafka.tsp-device-platform.%d{yyyy-MM-ddHH}.%i.log</fileNamePattern>
            <!-- each file should be at most 30MB, keep 30 days worth of history -->
            <MaxHistory>5</MaxHistory>
            <MaxFileSize>50MB</MaxFileSize>
            <TotalSizeCap>250MB</TotalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="sqlFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/tsp-device-platform/sql.tsp-device-platform.%d{yyyy-MM-ddHH}.%i.log</fileNamePattern>
            <!-- each file should be at most 30MB, keep 30 days worth of history -->
            <MaxHistory>5</MaxHistory>
            <MaxFileSize>50MB</MaxFileSize>
            <TotalSizeCap>250MB</TotalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}---[%thread]---%-5level---[%c]---[%L]---traceId:[%X{traceId}]---%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="monitor" level="ERROR" additivity="false">
        <appender-ref ref="monitorFile"/>
    </logger>

    <logger name="openservice" level="INFO" additivity="false">
        <appender-ref ref="openserviceFile"/>
    </logger>
    <logger name="call" level="INFO" additivity="false">
        <appender-ref ref="callFile"/>
    </logger>

    <logger name="Agent" level="debug" additivity="true">
        <appender-ref ref="sdkFile"/>
    </logger>

    <logger name="kafka" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="kafkaFile"/>
    </logger>
    <logger name="sql" level="INFO" additivity="false">
        <appender-ref ref="sqlFile"/>
    </logger>
    <logger name="sdk" level="INFO" additivity="false">
        <appender-ref ref="sdkFile"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="rollingFile"/>
    </root>

</configuration>